body{
  margin:0px;
  padding: 0px;
  font-family: poppins;
  background-color: rgba(151,151,151,0.03);
}
/* *{
  box-sizing: border-box;
} */
#background { 
  /* The image used */
  background-image: url("http://image.tmdb.org/t/p/original/srYya1ZlI97Au4jUYAktDe3avyA.jpg");
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  translate: no;
  background-attachment: fixed;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  border:1px solid rgba(0,0,0,0.04);
  background-color: #5e5e5e;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.logo img{
  width: 120px;
  height: 120px;
}
.logo{
  padding-left: 5%;
  padding-right: 5%;
  float: left;
}
nav .menu{
  display: flex;
  margin: 0px;
  width: 795px;
  float: left;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
}
nav .menu li a{
  height: 40px;
  line-height: 43px;
  margin: 0px;
  padding: 0px 40px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color:#ffffff;
  letter-spacing: 1px;
}
.search{
  width:350px;
  height: 37px;
  background-color: rgba(245,245,245,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
  float: right;
}
.search input{
  width:100%;
  height: 30px;
  border:none;
  outline: none;
  background-color: transparent;
}
.search i{
  color:#3a3a3a;
}
nav .menu li a:hover{
  background-color: #242424;
  color:#ffffff;
  box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
  transition: all ease 0.2s;
}
#main{
  padding-top: 60px;
  margin: 10px, 10px,10px,10px;
  border: 1px solid black;
}
.popular-box{
  width:430px;
  height: 250px;
  box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin:0px 20px 10px 20px;
  overflow: hidden;
}
.popular-box img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.popular-heading{
  padding-left: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #1a1a1a;
}
.cs-hidden{
  overflow: visible !important;
}
#latest{
  margin-top: 10%;
  margin: 10px, 0px,10px,0px;
  border: 2px solid black;
  background-image: url("../../img/silver-black-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255,255,255,0.2);
}
.latest-heading{
  margin: 30px 30px 0px 30px;
  font-weight: 500;
  font-size: 1.8rem;
}
.latest-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px 10px;
  border-radius: 10px;
  overflow:hidden;
  width: 180px;
  height: 380px;
  background-color: rgba(0,0,0,0.9);;
}
.latest-b-img{
  width:100%;
  height: 270px;
}
.latest-b-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latest-b-text strong{
  font-size: small;
  color:#fff;
  margin: 5px 0px 0px 0px;
}
.latest-b-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.latest-b-text p{
  color:#979797;
  margin: 0px;
}
.movies-heading h2{
  font-weight: 400;
  margin: 0px;
  padding: 1px 20px;
  background-color: rgba(0,0,0,0.01);
  border: 1px solid rgba(0,0,0,0.06);
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}
.movies-heading{
  display: flex;
  margin:0px 2%;
}
.movies-box{
  width:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 3px solid #292929;
  min-height: 490px
}
.movies-img{
  width:100%;
  height: 400px;
  position: relative;
}
.movies-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movies-box a{
  text-align:center;
  display: block;
  font-weight: 600;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3a3a3a;
  margin: 20px;
}
.movies-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.2s;
}
#movies-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.release-date{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 5px 20px;
  font-weight: 500;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns a{
  width: 130px;
  height: 40px;
  border:none;
  outline: none;
  color: #ffffff;
  background-color: #3963f0;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.btns a:hover{
  background-color: #284fd1;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.1);

}
footer p{
  color:#5e5e5e;
  margin: 10px 0px;
  font-size: 0.9rem;
}
nav .menu-btn{
  display: none;
}
@media(max-width:1100px){
  nav{
      justify-content: space-between;
      height: 70px;
      padding: 0px 10px;
  }
  nav .menu{
     display: none;
      position: absolute;
      top: 65px;
      left: 0px;
      background: #fff;
      border-bottom:4px solid #242424;
      width:100%;
      padding:0px;
      margin:0px;
  }
  .menu li{
      width:100%;
  }
  nav .menu li a{
      width: 100%;
      height: 40px;
      align-items: center;
      margin: 0px;
      padding:25px;
      border:1px solid rgba(38,38,38,0.03);
  }

  nav .menu-icon{
      cursor: pointer;
      float: right;
      padding:28px 20px;
      position: relative;
      user-select: none;
      display: block;
  }
  nav .menu-icon .nav-icon{
      background-color: #333333;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after{
      background: #333333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all ease-out 0.2s;
      width: 100%;
  }
  nav .menu-icon .nav-icon:before{
      top:5px;
  }
  nav .menu-icon .nav-icon:after{
      top:-5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon{
      background: transparent;

  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
      transform: rotate(-45deg);
      top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
      transform: rotate(45deg);
      top: 0;
  }
  nav .menu-btn{
      display: none;
  }
  nav .menu-btn:checked ~ .menu{
      display: block;
  }
}
@media(max-width:680px){
  .popular-box{
      max-width: 300px;
      height: 180px;
      margin: 10px;
  }
  .latest-box{
      width:190px;
      margin: 20px 5px;
  }
  .movies-box{
      flex-direction: row;
      width:90%;
      border: 1px solid rgba(0,0,0,0.2);
  }
  .movies-box a{
      width:65%;
  }
  footer{
      justify-content: space-between;
      padding:0px 20px;
      text-align: center;
  }
}
@media(max-width:440px){
  .movies-box a,.movies-box{
      width: 100%;
  }
  .movies-box{
      flex-direction: column;
  }
  .logo img{
      height: 30px;
  }
  .search{
      width: 90%;
      height: 40px;
  }
}

.zoom:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}
.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 80%;
  position: relative;
  margin: 0;
  padding: 0;
}
.star-ratings .fill-ratings {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings .fill-ratings span {
  display: inline-block;
}
.star-ratings .empty-ratings {
  padding: 0;
  display: block;
  z-index: 0;
}
/* modal */
.modal .show{
  margin: 5px 5px 5px 15px; 
  height: 50%;
  width: 50%;
  align-content: center;
}

body.modal-open {
    overflow: hidden;
}
.modal-body {
  height: 600px;
  width: 100%;
}
.modal-body-left {
  height: 100%;
  width: 50%;
  float: left;
}
.modal-body-right {
  height: 100%;
  width: 50%;
  float: left;
  align-content: center;
}
.detail-name {
  align-content: center;
  text-align: center;
  font-size: large;
  font: outline;
  font-style: inherit;
} 
#detail-overview {
  margin-top: 45%;
  min-height: 30px;
  width: 100%;
  float: left;
  font-size: 20px;
  font-family: Georgia, serif;
}
#detail-image {
  padding: 10px;
  display: block;
  margin: auto;
  max-width: 70%;
  margin-top: 40%;
}
#detail-home-button {
  border-radius: 10px !important;
  background-color: orange !important;
  color: #161212 !important;
}
#detail-genre {
  margin-top: 10%;
  margin-bottom: 5%;
  height: 20%;
  width: 100%;
  float: left;
  align-content: center;
}
.detail-genre-item {
  margin: 3px 3px 3px 3px;
  float: left;
  font-size: 8px;
  align-content: center;
  text-align: center;
  background-color: lightcoral;
  color: #000000;
} 
.modal .modal-bg { 
  /* The image used */
  background-image: url("http://image.tmdb.org/t/p/original/srYya1ZlI97Au4jUYAktDe3avyA.jpg");
  background-color: rgba(255,255,255,1);
  background-blend-mode: lighten;
  /* Full height */
  max-width:100%;
  max-height:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  translate: no;
  background-attachment: fixed;
  /* background: linear-gradient(to bottom, rgba(0,0,0,1) 30%,rgba(0,0,0,0) 100%); */
}
.modal-bg2 {
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.modal-content {
  margin: 0px 0px 0px 0px;
  border-radius: 9px !important;
  background-color: transparent !important;
  background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1) 30%);
  overflow: hidden;
}
.modal-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  margin-left: 120px;
  height: 120px;
  margin-top: 120px;
  top: 50%;
  left: 50%;
  animation: spin 2s linear infinite;
  margin: auto;
  position: fixed;
  z-index: 1000;
}
.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden {
  visibility: hidden !important;
  overflow: hidden !important;
}

.filter {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 1%;;
  min-width: 5%;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 40px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}